<ion-content padding>
  <ion-header>
    <ion-toolbar>
      <ion-title>Rádio Button</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list radio-group>
    <ion-list-header> Escolha o tipo de música que você gostaria de ouvir: </ion-list-header>
    <ion-radio-group value="Forró">
      <ion-item>
      <ion-radio color="danger" value="Forró">Forró</ion-radio><br />
    </ion-item>
    <ion-item>
      <ion-radio color="secondary" value="Jazz">Jazz</ion-radio><br />
    </ion-item>
    <ion-item>
      <ion-radio color="warning" value="Pagode">Pagode</ion-radio><br />
    </ion-item>
    <ion-item>
      <ion-radio color="tertiary" value="Gospel">Gospel</ion-radio><br />
    </ion-item>
    <ion-item>
      <ion-radio color="success" value="Rock">Rock</ion-radio><br />
    </ion-item>
    <ion-item>
      <ion-radio color="dark" value="Eletrônica">Eletrônica</ion-radio><br />
    </ion-item>
    <ion-item>
      <ion-radio color="medium" value="Funk">Funk</ion-radio><br />
    </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>

