<ion-list app-pizzaria>
  <ion-list-header>Pizzaria</ion-list-header>
  
  <ion-item>
    <ion-label padding color="success">Cardápio</ion-label>
  </ion-item>

  <ion-item>
    <ion-label padding color="primary">Sabores</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Abobrinha</ion-label>
    <ion-toggle color="primary" ></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>Calabresa</ion-label>
    <ion-toggle color="primary"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>Portuguesa</ion-label>
    <ion-toggle color="primary"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label padding color="warning">Adicionais</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Bacon</ion-label>
    <ion-toggle color="warning" ></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>Cheddar</ion-label>
    <ion-toggle color="warning"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>Queijo Cremoso</ion-label>
    <ion-toggle color="warning"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label padding color="danger">Bebidas</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Água</ion-label>
    <ion-toggle color="danger" ></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>Refrigerante</ion-label>
    <ion-toggle color="danger"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>Suco de Laranja</ion-label>
    <ion-toggle color="danger"></ion-toggle>
  </ion-item>

 <ion-button color="success" expand="block">Finalizar Pedido</ion-button>
</ion-list>